<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">
    <!-- ==================== -->
    <!--    认证及授权入口    -->
    <!-- ==================== -->
    <security:http entry-point-ref="loginEntryPoint" authentication-manager-ref="authenticationManager">
        <security:intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/notify"    access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/**"         access="IS_AUTHENTICATED_FULLY"/>
        <security:form-login login-processing-url="/login.html"
                                username-parameter="loginName"
                                password-parameter="loginPwd"
                                default-target-url="/index.jsp"
                                always-use-default-target="true"
                                authentication-failure-handler-ref="failureHandler"
                                authentication-failure-url="/login.jsp?msg=login_failure"
                                login-page="/login.jsp"/>
        <security:logout logout-url="/logout.html"
                           logout-success-url="/login.jsp?msg=logout_success"/>
    </security:http>
    <!-- 登录入口 -->
    <bean id="loginEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg value="/login.jsp?msg=please_login"/>
    </bean>
    <!-- 认证管理器 -->
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="4QrcOUm6Wau+VuBX8g+IPg==" authorities="ROLE_USER"/>
            </security:user-service>
            <security:password-encoder ref="md5PasswordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>
    <!-- 密码编码器 -->
    <bean id="md5PasswordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder">
        <property name="encodeHashAsBase64" value="true"/>
    </bean>
    <!-- 登录失败处理器 -->
    <bean id="failureHandler" class="com.noriental.jobweb.auth.CustomFailureHandler">
        <property name="defaultFailureUrl" value="/login.jsp?msg=login_failure"/>
    </bean>
</beans>