<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- ===================== -->
    <!--        别名           -->
    <!-- ===================== -->
    <typeAliases>
        <typeAlias type="com.noriental.jobweb.dao.jobbase.JobBaseEO" alias="JobBaseEO"/>
        <typeAlias type="com.noriental.jobweb.dao.jobschedule.JobScheduleEO" alias="JobScheduleEO"/>
        <typeAlias type="com.noriental.jobweb.dao.jobschedulelog.JobScheduleLogEO" alias="JobScheduleLogEO"/>
    </typeAliases>
    <!-- ===================== -->
    <!--        插件           -->
    <!-- ===================== -->
    <plugins>
        <plugin interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
        </plugin>
    </plugins>
    <!-- ===================== -->
    <!--        映射           -->
    <!-- ===================== -->
    <mappers>
        <mapper resource="com/noriental/jobweb/dao/jobbase/JobBase.xml"/>
        <mapper resource="com/noriental/jobweb/dao/jobschedule/JobSchedule.xml"/>
        <mapper resource="com/noriental/jobweb/dao/jobschedulelog/JobScheduleLog.xml"/>
    </mappers>
</configuration>